@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Varela+Round&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('./media/bg.jpg') no-repeat center center/cover;
    position: relative;
    z-index: 1;
}
body::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.418), rgba(0, 0, 0, 0.418)), 
        url('./media/bg-overlay.png') no-repeat center center/contain;
    background-size: cover;
    z-index: 2;
}
main{
    padding: 150px 90px;
    font-family: "Varela Round", serif;
    font-weight: 400;
    font-style: normal;
}
main *{
    z-index: 3;
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
}
.logo {
    width: 80px;
    height: 80px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    >img{
        width: 50%;
        height: auto;
    }
}
.vertical-line {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 2px;
    height: 50px;
    background-color: white;
}

.horizontal-line {
    position: absolute;
    top: calc(100% + 50px);
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white;
}

.headings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 52px;
    color: white;
    >h1{
        font-size: 60px;
    }
    >p{
        font-size: 19px;
        >span{
            border-bottom: 1px dotted white;
        }
        >span:hover{
            color: rgb(140, 226, 255);
            cursor: pointer;
            border-color: rgb(140, 226, 255);
        }
    }
}
.container2{
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
}
.vertical-line2 {
    position: absolute;
    left: 50%;
    top: 0px;
    width: 1px;
    height: 50px;
    background-color: white;
}
.horizontal-line2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white;
}

.tabContainer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    border: 1px solid white;
    >p{
        color: white;
    }
}
.tab:hover{
    background-color: rgba(255, 255, 255, 0.267);
    cursor: pointer;
}
.generalTab{
    background-color: rgba(4, 4, 8, 0.664);
    box-sizing: border-box;
    width: 1000px;
    height: 800px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    color: white;
    >div{
        line-height: 35px;
    }
    >div:nth-child(1){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 500px;
        >div:nth-child(2){
            >img{
                width: 60px;
                height: 60px;
            }
        }
    }
    >div:nth-child(2){
        >img{
            width: 100%;
            height: 300px;
        }
        >iframe{
            width: 100%;
            height: 300px;
        }
    }
}
.tabs{
    display: none;
}
.close {
    cursor: pointer;
    transition: transform 0.3s ease;
}
.close:hover {
    transform: rotate(90deg);
}
.hidden {
    display: none !important;
}
.visible {
    display: block;
}
.active-tab {
    display: flex !important;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}